* {
    padding: 0;
    margin: 0;
    font-family: "Bahij TheSansArabic";
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
    opacity: 0;
    -webkit-filter: blur(1rem);
    filter: blur(1rem);
}
