.sidebar {
    background-color: getColor(off-white);
    padding-block: 20px;
    @include flexColumn {
        justify-content: space-between;
    }
    &__logo {
        height: 20px;
        padding-inline: 24px;
        margin-bottom: 32px;
    }
    &__nav {
        padding-inline: 10px;
        @include flexColumn {
            justify-content: space-between;
        }
        flex-grow: 1;
        &__list {
            row-gap: 12px;
            min-height: 108px;
            @include flexColumn {
                justify-content: space-between;
            }
            &__item {
                transition: all 0.4s ease-in-out;
                @include flexRow {
                    align-items: center;
                    justify-content: space-between;
                }
                height: 48px;
                padding-inline: 24px;
                border-radius: 24px;
                text-transform: capitalize;
                color: getColor(secondary);
                &--left {
                    @include flexRow {
                        align-items: center;
                        gap: 12px;
                    }
                }
                svg {
                    fill: red;
                }
                &.router-link-exact-active {
                    background-color: getColor(light-indigo);
                    color: getColor(primary);
                    font-weight: 500;
                }
            }
        }
        &__logout {
            padding-inline: 24px;
            padding-block: 12px;
            gap: 12px;
            color: getColor(secondary);
            // box-shadow: 4px 0 25% #000000;
            @include flexRow;
            span {
                text-shadow: 0 3px 4px #000000;
                -webkit-filter: blur(4%);
                filter: blur(4%);
            }
        }
    }
}
