.inbox-page {
  header {
    height: 41px;
    padding-inline: 24px;
    padding-bottom: 32px;
    h2 {
      font-size: 32px;
      text-transform: capitalize;
      color: getColor(primary);
    }
  }
  &__top-nav {
    padding-inline: 24px;
    min-height: 20px;
    padding-bottom: 24px;

    @include flexRow {
      justify-content: space-between;
    }

    ul {
      @include flexRow;
      gap: 40px;

      li {
        font-size: 14px;
        color: getColor(secondary);
        @include flexRow;
        gap: 12px;
      }
    }
  }

  &__list {
    &__item {
      @include flexRow;

      border-block: 1px solid getColor(border-color);
      padding-inline: 24px;
      min-height: 60px;
      transition: all 0.5s ease-in-out;

      &:hover {
        background-color: getColor(hover-color);
      }
    }
  }
}
.mark-as-read {
  opacity: 0.5;
}
